/* line 1, ../sass/main.scss */
body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img{
  max-width: 100%;
}

.footerButton {
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10%;
    margin-right: 10%;
}
header {
    display:flex;
    justify-content: space-between;
    background-color: gray;
    color:white;
    height: 60px;
    padding: 20px;
}

.meteo{
    display:none;
}

.title{
    font-size: 200%;
}

.logo{
    filter: invert(100%);
}

.logo img{
    height: 50px;
}
footer{
    display:flex;
    flex-direction: column;
}

@media all and (max-width: 769px){
    body{
        background-color: aqua;
    }
}

