/* line 1, ../sass/main.scss */
body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e0e0e0;
  color: #424242;
  font-family: 'RobotoDraft', 'Helvetica Neue', Helvetica, Arial;
  font-size: 1em;
  line-height: 1.6;
}

img{
  max-width: 100%;
}
/* line 14, ../sass/main.scss */
.container {
  width: 960px;
  margin: auto;
}

/* line 19, ../sass/main.scss */
.header {
  height: 64px;
  background-color: white;
}
.logoimg{
  width: 20%;
  height : 100%;

}
/* line 22, ../sass/main.scss */
.header .logo {
  padding: 1.1em 2.5em .9em 1em;
}
/* line 25, ../sass/main.scss */

.header nav {
  float: right;
  height: 100%;
  position: relative;
}

/* line 29, ../sass/main.scss */
.header nav ul {
  margin: 0;
  padding: 0;
}
/* line 33, ../sass/main.scss */
.header nav li {
  margin: 0;
  display: inline;
}
/* line 37, ../sass/main.scss */
.header nav a {
  box-sizing: border-box;
  display: inline-block;
  padding: 0.75em;
  color: #37474f;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 2.5;
}
/* line 45, ../sass/main.scss */
.header nav a:hover {
  background: #37474f;
  color: #fff;
}

/* line 53, ../sass/main.scss */
.region-top {
  height: 544px;
  overflow: hidden;
}
/* line 57, ../sass/main.scss */
.region-top a {
  text-decoration: none;
  color: white;
}
/* line 61, ../sass/main.scss */
.region-top .article-left {
  float: left;
  width: 66%;
  height:100%;
  position: relative;
  background-image: url("https://think.storage.googleapis.com/images/mm-guide-be-there-hp-hero.jpg");
}
/* line 65, ../sass/main.scss */
.region-top .article-left div {
  position: absolute;
  bottom: 40px;
  left: 40px;
  background-color: #ff7043;
  padding: 2em;
  width: 300px;
  color: white;
}
/* line 75, ../sass/main.scss */
.region-top .article-right {
  width: 34%;
  background: green;
  float: right;
}
/* line 79, ../sass/main.scss */
.region-top .article-right article {
  height: 272px;
  overflow: hidden;
}
/* line 82, ../sass/main.scss */
.region-top .article-right article div {
  height: 104px;
  padding: 0 1em 0 1em;
  font-size: 0.9em;
}
/* line 87, ../sass/main.scss */
.region-top .article-right article img {
  width: 326px;
}
/* line 90, ../sass/main.scss */
.region-top .article-right article h1 {
  color: white;
  font-size: 0.9em;
  margin: 0;
}
/* line 95, ../sass/main.scss */
.region-top .article-right article:nth-child(1) {
  background-color: #c62828;
}
/* line 98, ../sass/main.scss */
.region-top .article-right article:nth-child(2) {
  background-color: #5c6bc0;
}

/* line 105, ../sass/main.scss */
ul.tags {
  margin: 0;
  padding: 0;
}
/* line 108, ../sass/main.scss */
ul.tags li {
  list-style: none;
}
/* line 110, ../sass/main.scss */
ul.tags li a {
  font-size: 0.9em;
}

/* line 116, ../sass/main.scss */
.region-main {
  clear: both;
  margin-top: 2em;
  float: left;
  width: 66%;
}
/* line 121, ../sass/main.scss */
.region-main article {
  height: 120px;
  overflow: hidden;
  margin-bottom: 2em;
}
/* line 125, ../sass/main.scss */
.region-main article img {
  float: left;
  margin-right: 30px;
  width: 200px;
}
/* line 130, ../sass/main.scss */
.region-main article h1 {
  margin: 0;
}
/* line 133, ../sass/main.scss */
.region-main article p {
  margin: 0;
}
/* line 136, ../sass/main.scss */
.region-main article .tags a {
  text-decoration: none;
  color: #1875d1;
}

/* line 143, ../sass/main.scss */
.region-sidebar {
  float: right;
  width: 34%;
  background-color: #f5f5f5;
  padding: 2em;
  box-sizing: border-box;
  height: 490px;
  color: #666;
}
/* line 151, ../sass/main.scss */
.region-sidebar h1 {
  font-size: 1em;
}
/* line 154, ../sass/main.scss */
.region-sidebar label {
  width: 100px;
  display: inline-block;
}
/* line 158, ../sass/main.scss */
.region-sidebar input[type=submit] {
  background-color: #5677fc;
  border-radius: 2px;
  font-weight: 500;
  padding: .45em .938em .5em;
  text-transform: uppercase;
  border: 1px solid transparent;
  color: white;
  margin: 1em auto 0 auto;
  display: block;
  font-size: 0.9em;
}

/* line 172, ../sass/main.scss */
.region-footer {
  clear: both;
  background-color: black;
  height: 50px;
}


@media all and (max-width: 769px){
 .container{
   display:flex;
   flex-direction: column;
 }
 .region-top {
   display: flex;
  flex-direction: column;
 }
  .region-top .article-left {
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url(https://think.storage.googleapis.com/images/mm-guide-be-there-hp-hero.jpg);
  }
}


@media all and (max-width: 1024px){
  .container{

  }
  .region-top{

  }
}